.reset-pass{
  margin-top: 25vh;
  margin-left: auto;
  margin-right: auto;
  padding: 0px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lblAdminLogin{
  float: left;
  clear: left;
  font-family:'Karma';
  font-size : 20px;
  font-weight:600;
}
.inpAdminLogin{
  float: left;
  clear: left;
  font-family:'Karma';
  border: 2px solid black;
  border-radius: 5px;
  font-size : 18px;
  width:240px;
  height: 40px;
}
.passDiv{
    margin-top: 10px;
    float: left;
    clear: left;
}
.userDiv{
    float: left;
    clear: left;
}
.btnResetSubmit{
    float: left;
    height: 46px;
    color: white;
    background-color: black;
    border-radius: 4px;
    margin-top: 38px;
    font-size: 18px;
    font-family:'Karma';
    border: none;
    margin-left: 10px;
    font-weight: 500px;
    cursor: pointer;
}
.errorDiv{
    float: left;
    clear: left;
    color: red;
    font-size: 16px;
    font-family:'Karma';
}
.btnReset{
  float: left;
  clear: left;
  font-size: 16px;
  font-family:'Karma';
}
.successDiv{
  float: left;
  clear: left;
  margin-top: 10px;
  color: cornsilk;
  font-size: 16px;
    font-family:'Karma';
}
.successDivEmail{
  float:left;
  clear: left;
  color: blue;
  font-family:'Karma';
}