.footer {
    position: fixed;
    height: 50px;
    background-color: black;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
.adminCss{
    float: right;
    clear: right;
    margin-top:10px;
    margin-right: 20px;
    color: white;
    font-size: 22px;
    font-family:'Karma';
}
