.headerBanner{
    height: 50px;
    background-color: black;
    text-align: center;
    width: 100%;
}
.headerText{
    color: white;
    font-family:'Karma';
    font-size : 32px;
    padding-top:6px;
}
.logoutIcon{
    color: white;
    float: right;
    margin-top:-40px;
    margin-right:20px;
    cursor: pointer;
}
@media only screen and (max-width: 560px) {
    .headerText{
        font-size : 28px;
    }
}